@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* _____________________________FONTE_____________________ */
  h1 {
    font-family: "jeanne-moderno-geometrique", sans-serif;
  }
  h2 {
    font-family: "jeanne-moderno-geometriqu", sans-serif;
  }
  h3 {
    font-family: "jeanne-moderno-geometriqu", sans-serif;
  }
  p {
    font-family: "sans serif", sans-serif;
  }
}

@layer components {
  @media only screen and (max-width: 600px) {
    .forsidebillede {
      background-image: url(procreate/isabella_tegning_m.jpg);
      aspect-ratio: 1125/2000;
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .cvbillede {
      background-image: url(procreate/erfaring_m.jpg);
      aspect-ratio: 390/1406;
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    h1 {
      font-family: "jeanne-moderno-geometrique", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 1.4rem;
      padding: 5px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    h2 {
      font-family: "jeanne-moderno", serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.3rem;
      padding: 5px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    h3 {
      font-family: "jeanne-moderno-titling", serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1.1rem;
      padding: 5px;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    p {
      font-size: 0.8rem;
      padding: 5px;
    }
    a {
      padding: 5px;
    }
    .footerbaggrund {
      background-image: url(illustrator/footer2.svg);
      aspect-ratio: 428/733;
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }
  /* ____________ WEB ______________*/
  @media only screen and (min-width: 600px) {
    .forsidebillede {
      background-image: url(procreate/isabella_tegning.jpg);
      aspect-ratio: 1920/1146;
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .cvbillede {
      background-image: url(procreate/erfaring.jpg);
      aspect-ratio: 1920/1900;
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
    }
    h1 {
      font-family: "jeanne-moderno-geometrique", sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 2rem;
      padding: 5px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    h2 {
      font-family: "jeanne-moderno", serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2rem;
      padding: 5px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    h3 {
      font-family: "jeanne-moderno-titling", serif;
      font-weight: 500;
      font-style: normal;
      font-size: 1.4rem;
      padding: 5px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    p {
      font-size: 0.9rem;
      padding: 5px;
    }
    a {
      padding: 5px;
    }
    /* FOOTER */
    .footerbaggrund {
      background-image: url(illustrator/footer.svg);
      aspect-ratio: 1920/794;
      position: relative;
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

  .autominmax {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  img {
    max-width: 100%;
    padding: 5px;
  }

  /* MENU */
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }

  /* menu */

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  /* menu icon */

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 5px;
  }

  .header .menu-icon .navicon:after {
    top: -5px;
  }

  /* menu btn */

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    max-height: 350px;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* 48em = 768px */

  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

  /* ________SLIDER 1__________*/
  * {
    box-sizing: border-box;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* ________SLIDER 2__________*/

  /* Hide the images by default */
  .mySlides2 {
    display: none;
  }

  /* Fading animation */
  .fade2 {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade2 {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* ________SLIDER 3__________*/

  /* Hide the images by default */
  .mySlides3 {
    display: none;
  }

  /* Fading animation */
  .fade3 {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade3 {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }

  /* ________SLIDER 3__________*/

  /* Hide the images by default */
  .mySlides4 {
    display: none;
  }

  /* Fading animation */
  .fade4 {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade4 {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  /* ________foto slider____ */

  .kort {
    animation-name: cirkel_sprite_kf;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-timing-function: linear;
  }
  @keyframes cirkel_sprite_kf {
    0% {
      transform: rotate3d(0, -1, 0.5, 20deg);
      transform-style: preserve-3d;
    }
    25% {
      transform: rotate3d(0, -1, 0.5, 70deg);
      transform-style: preserve-3d;
    }
    50% {
      transform: rotate3d(0, -1, 0.5, 110deg);
    }
    75% {
      transform: rotate3d(0, -1, 0.5, 70deg);
      transform-style: preserve-3d;
    }
    100% {
      transform: rotate3d(0, -1, 0.5, 20deg);
      transform-style: preserve-3d;
    }
  }
}
